In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
%cd "Documents/GitHub/pmx_gasoline_theft_prediction/"

/Users/jorgeroa/Documents/GitHub/pmx_gasoline_theft_prediction

In [38]:

df_PMX_SP_15_19 = pd.read_parquet("data/df_pipethefts_15_19.parquet").rename(columns = {'Mun_code' : 'CVEGEO'})


df_PMX_08_15 = pd.read_excel("data-raw/PMXyearxy.xlsx")

df_PMX_08_15_w = df_PMX_08_15

In [39]:
df_PMX_SP_15_19

    CVEGEO  Num_thefts
0    01001         8.0
1    01006         1.0
2    01011         1.0
3    02001         8.0
4    02002         9.0
..     ...         ...
326  30207        21.0
327  31050         3.0
328  31059         2.0
329  32017         2.0
330  32025         2.0

[331 rows x 2 columns]

In [40]:
df_PMX_08_15_w_f = df_PMX_08_15_w.drop_duplicates(subset = "CVEGEO")
df_PMX_08_15_w_final = df_PMX_08_15_w_f[["CVEGEO", "tomas_r"]]

In [41]:
df_PMX_08_15_w_final

      CVEGEO  tomas_r
0                   1
5      01007        1
6      02001        1
38     02002        1
69     02003        2
...      ...      ...
16470  30207        1
16516  30211        1
16563  32017        1
16565  32025        1
16568  32051        1

[389 rows x 2 columns]

In [49]:
df_PMX_SP_15_19_CC = pd.merge(df_PMX_SP_15_19,
                             df_PMX_08_15_w_final,
                             on='CVEGEO',
                             how='outer',
                             indicator=True)

df_PMX_SP_15_19_CC['Num_thefts'] = df_PMX_SP_15_19_CC['Num_thefts'].fillna(0)

df_PMX_SP_15_19_CC['CVEGEO'] = df_PMX_SP_15_19_CC['CVEGEO'].dropna()



df_PMX_SP_15_19_CC_f = df_PMX_SP_15_19_CC[["CVEGEO", "Num_thefts"]]


df_PMX_SP_15_19_CC_f

    CVEGEO  Num_thefts
0    01001         8.0
1    01006         1.0
2    01011         1.0
3    02001         8.0
4    02002         9.0
..     ...         ...
444  30192         0.0
445  30204         0.0
446  30206         0.0
447  30211         0.0
448  32051         0.0

[449 rows x 2 columns]

In [51]:
df_PMX_SP_15_19_CC_f.to_excel('data/df_PMX_SP_15_19_thefts_pp.xlsx', index = False)
df_PMX_SP_15_19_CC_f.to_parquet('data/df_PMX_SP_15_19_thefts_pp.parquet')