In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
%cd "Documents/GitHub/pmx_gasoline_theft_prediction/"

/Users/jorgeroa/Documents/GitHub/pmx_gasoline_theft_prediction

In [34]:
df_PMX_SP_15_19_CC_f = pd.read_parquet("data/df_PMX_SP_15_19_thefts_pp.parquet")

df_PMX_SP_19 = pd.read_excel("data/df_pipe_code_final_2019_var_final.xlsx")

df_pipelines_mx = pd.read_parquet("data/df_pipelines_mx.parquet")

df_PMX_SP_19['CVEGEO'] = df_PMX_SP_19['CVEGEO'].astype(str).str.zfill(5)


df_pipelines_mx['CVEGEO'] = df_pipelines_mx['CVEGEO'].astype(str)
df_PMX_SP_19['CVEGEO'] = df_PMX_SP_19['CVEGEO'].astype(str)
df_PMX_SP_15_19_CC_f['CVEGEO'] = df_PMX_SP_15_19_CC_f['CVEGEO'].astype(str)

In [35]:
df_PMX_SP_19

     year  Num_thefts CVEGEO
0    2019          17  01001
1    2019          26  19020
2    2019           7  19022
3    2019           2  19021
4    2019           1  09012
..    ...         ...    ...
240  2019           1  30041
241  2019           1  30113
242  2019           2  27013
243  2019           1  27016
244  2019           1  14073

[245 rows x 3 columns]

In [37]:
df_PMX_15_19_thefts_pp = pd.merge(df_pipelines_mx,
                             df_PMX_SP_15_19_CC_f,
                             on='CVEGEO',
                             how='outer',
                             indicator=True)

df_PMX_19_thefts_pp = pd.merge(df_pipelines_mx,
                             df_PMX_SP_19,
                             on='CVEGEO',
                             how='outer',
                             indicator=True)


df_PMX_15_19_thefts_pp

df_PMX_19_thefts_pp


df_PMX_15_19_thefts_pp.loc[df_PMX_15_19_thefts_pp["Num_thefts"] == 0, "pipeline"] = 1
df_PMX_19_thefts_pp.loc[df_PMX_19_thefts_pp["Num_thefts"] == 0, "pipeline"] = 1

df_PMX_19_thefts_pp

,CVEGEO,type_inegi,soil_inegi,pp_inegi,cap_5ypp,inv_5ypp,long_5ypp,pp_5ypp,pp_instal,pp_integ_sistran_pp,...,pp_SISTRANGAS_pipeline,pp_st_term,type_st_term,cap_st_term,cap_st_term_1,pipeline,sum_intersects,year,Num_thefts,_merge
0,09012,UN CONDUCTO,SUBTERRANEO,2,None,None,NaN,0,0,0,...,0,1,Poliducto,23000.0,22000.0,1,4,2019.0,1.0,both
1,09013,UN CONDUCTO,SUBTERRANEO,3,None,None,NaN,0,0,0,...,0,1,Poliducto,23000.0,22000.0,1,5,NaN,NaN,left_only
2,09008,UN CONDUCTO,SUBTERRANEO,1,None,None,NaN,0,0,0,...,0,0,None,NaN,NaN,1,1,NaN,NaN,left_only
3,09002,UN CONDUCTO,SUBTERRANEO,3,None,None,NaN,0,0,0,...,0,5,Turbosino-ducto,428000.0,412000.0,1,13,2019.0,8.0,both
4,09014,None,None,0,None,None,NaN,0,0,0,...,0,0,None,NaN,NaN,0,0,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451,23007,None,None,0,None,None,NaN,1,0,0,...,0,0,None,NaN,NaN,1,3,NaN,NaN,left_only
2452,23003,None,None,0,None,None,NaN,0,0,0,...,0,0,None,NaN,NaN,0,0,NaN,NaN,left_only
2453,15108,UN CONDUCTO,SUBTERRANEO,2,None,None,NaN,0,0,1,...,1,0,None,NaN,NaN,1,4,NaN,NaN,left_only
2454,15059,UN CONDUCTO,SUBTERRANEO,2,None,None,NaN,0,0,1,...,1,0,None,NaN,NaN,1,4,2019.0,41.0,both
2455,15109,UN CONDUCTO,SUBTERRANEO,6,None,None,NaN,0,0,0,...,0,0,None,NaN,NaN,1,6,2019.0,15.0,both

In [26]:
df_PMX_15_19_thefts_pp["pipeline"].sum()
df_PMX_19_thefts_pp["pipeline"].sum()

786.0

In [27]:
df_PMX_19_thefts_pp

,CVEGEO,type_inegi,soil_inegi,pp_inegi,cap_5ypp,inv_5ypp,long_5ypp,pp_5ypp,pp_instal,pp_integ_sistran_pp,...,pp_SISTRANGAS_pipeline,pp_st_term,type_st_term,cap_st_term,cap_st_term_1,pipeline,sum_intersects,year,Num_thefts,_merge
0,09012,UN CONDUCTO,SUBTERRANEO,2.0,None,None,NaN,0.0,0.0,0.0,...,0.0,1.0,Poliducto,23000.0,22000.0,1.0,4.0,NaN,NaN,left_only
1,09013,UN CONDUCTO,SUBTERRANEO,3.0,None,None,NaN,0.0,0.0,0.0,...,0.0,1.0,Poliducto,23000.0,22000.0,1.0,5.0,NaN,NaN,left_only
2,09008,UN CONDUCTO,SUBTERRANEO,1.0,None,None,NaN,0.0,0.0,0.0,...,0.0,0.0,None,NaN,NaN,1.0,1.0,NaN,NaN,left_only
3,09002,UN CONDUCTO,SUBTERRANEO,3.0,None,None,NaN,0.0,0.0,0.0,...,0.0,5.0,Turbosino-ducto,428000.0,412000.0,1.0,13.0,NaN,NaN,left_only
4,09014,None,None,0.0,None,None,NaN,0.0,0.0,0.0,...,0.0,0.0,None,NaN,NaN,0.0,0.0,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2476,8037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,8.0,right_only
2477,7048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,2.0,right_only
2478,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,5.0,right_only
2479,8001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,18.0,right_only
2480,5033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.0,5.0,right_only

In [38]:
df_PMX_15_19_thefts_pp.to_excel('data/df_PMX_15_19_thefts_pp_final.xlsx', index = False)
df_PMX_15_19_thefts_pp.to_parquet('data/df_PMX_15_19_thefts_pp_final.parquet')


df_PMX_19_thefts_pp.to_excel('data/df_PMX_19_thefts_pp_final.xlsx', index = False)
df_PMX_19_thefts_pp.to_parquet('data/df_PMX_19_thefts_pp_final.parquet')