In [217]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce

In [ ]:
%cd "Documents/GitHub/pmx_gasoline_theft_prediction/"

In [215]:
df_cvegeo = pd.read_excel("data-raw/codigo municipio inegi.xlsx")

df_cvegeo = df_cvegeo[["codigo inegi"]].rename(columns = {"codigo inegi":"CVEGEO"})


df_cvegeo['CVEGEO'] = df_cvegeo['CVEGEO'].astype(str).str.zfill(7).str.replace('.',"")


df_cvegeo['CVEGEO'] = df_cvegeo['CVEGEO'].str[:-1]

/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/3027095930.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_cvegeo['CVEGEO'] = df_cvegeo['CVEGEO'].astype(str).str.zfill(7).str.replace('.',"")

     CVEGEO
0     01001
1     01002
2     01003
3     01004
4     01005
...     ...
2451  32054
2452  32055
2453  32056
2454  32057
2455  32058

[2456 rows x 1 columns]

In [196]:
df_cvegeo

,ENTIDAD,NOM_ENT,MUN,NOM_MUN,codigo inegi,Unnamed: 5
0,1,Aguascalientes,1,Aguascalientes,1001.0,NaN
1,1,Aguascalientes,2,Asientos,1002.0,NaN
2,1,Aguascalientes,3,Calvillo,1003.0,NaN
3,1,Aguascalientes,4,Cosío,1004.0,NaN
4,1,Aguascalientes,5,Jesús María,1005.0,NaN
...,...,...,...,...,...,...
2451,32,Zacatecas,54,Villa Hidalgo,32054.0,NaN
2452,32,Zacatecas,55,Villanueva,32055.0,NaN
2453,32,Zacatecas,56,Zacatecas,32056.0,NaN
2454,32,Zacatecas,57,Trancoso,32057.0,NaN
2455,32,Zacatecas,58,Santa María de la Paz,32058.0,NaN

In [132]:
df_homicides_15 = pd.read_excel("data-raw/INEGI_homic_2015.xls")
df_homicides_16 = pd.read_excel("data-raw/INEGI_homic_2016.xls")
df_homicides_17 = pd.read_excel("data-raw/INEGI_homic_2017.xls")
df_homicides_18 = pd.read_excel("data-raw/INEGI_homic_2018.xls")
df_homicides_19 = pd.read_excel("data-raw/INEGI_homic_2019.xls")
df_homicides_15_w = df_homicides_15

In [220]:
df_homicides_15.head(20)

dict_var_homic = {"Defunciones por homicidios": "CVEGEO",
              "Unnamed: 2":"homic_15"} 


df_homicides_15_w = df_homicides_15[df_homicides_15['Unnamed: 1'].notnull()]

df_homicides_15_w = df_homicides_15_w.rename(columns = dict_var_homic)

df_homicides_15_w_var = df_homicides_15_w[["CVEGEO", "homic_15"]]

df_homicides_15_w_var= df_homicides_15_w_var[df_homicides_15_w_var['CVEGEO'].notnull()]

df_homicides_15_w_var_f = df_homicides_15_w_var[(df_homicides_15_w_var['CVEGEO'].str.len()>=3)]

df_homicides_15_w_var_f['homic_15']= df_homicides_15_w_var_f['homic_15'].str.replace(',',"")

df_homicides_15_w_var_f['CVEGEO']= df_homicides_15_w_var_f['CVEGEO'].str.replace(' ',"")

df_homicides_15_w_var_f['homic_15']= pd.to_numeric(df_homicides_15_w_var_f['homic_15'])

df_homicides_15_w_var_f

/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/94113681.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_15_w_var_f['homic_15']= df_homicides_15_w_var_f['homic_15'].str.replace(',',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/94113681.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_15_w_var_f['CVEGEO']= df_homicides_15_w_var_f['CVEGEO'].str.replace(' ',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/94113681.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_15_w_var_f['homic_15']= pd.to_numeric(df_homicides_15_w_var_f['homic_15'])

     CVEGEO  homic_15
7     01001        35
8     01002         1
9     01004         2
10    01005         4
11    01006         1
...     ...       ...
1590  32054         2
1591  32055         4
1592  32056        40
1593  32057         8
1594  32058         2

[1557 rows x 2 columns]

In [221]:
df_homicides_16.head(20)

dict_var_homic = {"Defunciones por homicidios": "CVEGEO",
              "Unnamed: 2":"homic_16"} 


df_homicides_16_w = df_homicides_16[df_homicides_16['Unnamed: 1'].notnull()]

df_homicides_16_w = df_homicides_16_w.rename(columns = dict_var_homic)

df_homicides_16_w_var = df_homicides_16_w[["CVEGEO", "homic_16"]]

df_homicides_16_w_var= df_homicides_16_w_var[df_homicides_16_w_var['CVEGEO'].notnull()]

df_homicides_16_w_var_f = df_homicides_16_w_var[(df_homicides_16_w_var['CVEGEO'].str.len()>=3)]

df_homicides_16_w_var_f['homic_16']= df_homicides_16_w_var_f['homic_16'].str.replace(',',"")

df_homicides_16_w_var_f['CVEGEO']= df_homicides_16_w_var_f['CVEGEO'].str.replace(' ',"")

df_homicides_16_w_var_f['homic_16']= pd.to_numeric(df_homicides_16_w_var_f['homic_16'])

df_homicides_16_w_var_f

/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/3489755711.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_16_w_var_f['homic_16']= df_homicides_16_w_var_f['homic_16'].str.replace(',',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/3489755711.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_16_w_var_f['CVEGEO']= df_homicides_16_w_var_f['CVEGEO'].str.replace(' ',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/3489755711.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_16_w_var_f['homic_16']= pd.to_numeric(df_homicides_16_w_var_f['homic_16'])

     CVEGEO  homic_16
7     01001        35
8     01003         4
9     01005         2
10    01006         1
11    01007         2
...     ...       ...
1575  32053         1
1576  32054         3
1577  32055         2
1578  32056        90
1579  32057         9

[1542 rows x 2 columns]

In [222]:
df_homicides_17.head(20)

dict_var_homic = {"Defunciones por homicidios": "CVEGEO",
              "Unnamed: 2":"homic_17"} 


df_homicides_17_w = df_homicides_17[df_homicides_17['Unnamed: 1'].notnull()]

df_homicides_17_w = df_homicides_17_w.rename(columns = dict_var_homic)

df_homicides_17_w_var = df_homicides_17_w[["CVEGEO", "homic_17"]]

df_homicides_17_w_var= df_homicides_17_w_var[df_homicides_17_w_var['CVEGEO'].notnull()]

df_homicides_17_w_var_f = df_homicides_17_w_var[(df_homicides_17_w_var['CVEGEO'].str.len()>=3)]

df_homicides_17_w_var_f['homic_17']= df_homicides_17_w_var_f['homic_17'].str.replace(',',"")

df_homicides_17_w_var_f['CVEGEO']= df_homicides_17_w_var_f['CVEGEO'].str.replace(' ',"")

df_homicides_17_w_var_f['homic_17']= pd.to_numeric(df_homicides_17_w_var_f['homic_17'])

df_homicides_17_w_var_f

/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/689543277.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_17_w_var_f['homic_17']= df_homicides_17_w_var_f['homic_17'].str.replace(',',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/689543277.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_17_w_var_f['CVEGEO']= df_homicides_17_w_var_f['CVEGEO'].str.replace(' ',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/689543277.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_17_w_var_f['homic_17']= pd.to_numeric(df_homicides_17_w_var_f['homic_17'])

     CVEGEO  homic_17
7     01001        52
8     01002         4
9     01003         4
10    01004         2
11    01005        10
...     ...       ...
1652  32054         1
1653  32055         7
1654  32056       118
1655  32057        19
1656  32058         3

[1619 rows x 2 columns]

In [223]:
df_homicides_18.head(20)

dict_var_homic = {"Defunciones por homicidios": "CVEGEO",
              "Unnamed: 2":"homic_18"} 


df_homicides_18_w = df_homicides_18[df_homicides_18['Unnamed: 1'].notnull()]

df_homicides_18_w = df_homicides_18_w.rename(columns = dict_var_homic)

df_homicides_18_w_var = df_homicides_18_w[["CVEGEO", "homic_18"]]

df_homicides_18_w_var= df_homicides_18_w_var[df_homicides_18_w_var['CVEGEO'].notnull()]

df_homicides_18_w_var_f = df_homicides_18_w_var[(df_homicides_18_w_var['CVEGEO'].str.len()>=3)]

df_homicides_18_w_var_f['homic_18']= df_homicides_18_w_var_f['homic_18'].str.replace(',',"")

df_homicides_18_w_var_f['CVEGEO']= df_homicides_18_w_var_f['CVEGEO'].str.replace(' ',"")

df_homicides_18_w_var_f['homic_18']= pd.to_numeric(df_homicides_18_w_var_f['homic_18'])

df_homicides_18_w_var_f

/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/2796973325.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_18_w_var_f['homic_18']= df_homicides_18_w_var_f['homic_18'].str.replace(',',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/2796973325.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_18_w_var_f['CVEGEO']= df_homicides_18_w_var_f['CVEGEO'].str.replace(' ',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/2796973325.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_18_w_var_f['homic_18']= pd.to_numeric(df_homicides_18_w_var_f['homic_18'])

     CVEGEO  homic_18
7     01001        55
8     01002         5
9     01003         5
10    01005         5
11    01006         3
...     ...       ...
1652  32051        15
1653  32053         2
1654  32055         2
1655  32056        99
1656  32057        16

[1619 rows x 2 columns]

In [224]:
df_homicides_19.head(20)

dict_var_homic = {"Defunciones por homicidios": "CVEGEO",
              "Unnamed: 2":"homic_19"} 


df_homicides_19_w = df_homicides_19[df_homicides_19['Unnamed: 1'].notnull()]

df_homicides_19_w = df_homicides_19_w.rename(columns = dict_var_homic)

df_homicides_19_w_var = df_homicides_19_w[["CVEGEO", "homic_19"]]

df_homicides_19_w_var= df_homicides_19_w_var[df_homicides_19_w_var['CVEGEO'].notnull()]

df_homicides_19_w_var_f = df_homicides_19_w_var[(df_homicides_19_w_var['CVEGEO'].str.len()>=3)]

df_homicides_19_w_var_f['homic_19']= df_homicides_19_w_var_f['homic_19'].str.replace(',',"")

df_homicides_19_w_var_f['CVEGEO']= df_homicides_19_w_var_f['CVEGEO'].str.replace(' ',"")

df_homicides_19_w_var_f['homic_19']= pd.to_numeric(df_homicides_19_w_var_f['homic_19'])

df_homicides_19_w_var_f

/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/1395374522.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_19_w_var_f['homic_19']= df_homicides_19_w_var_f['homic_19'].str.replace(',',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/1395374522.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_19_w_var_f['CVEGEO']= df_homicides_19_w_var_f['CVEGEO'].str.replace(' ',"")
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/1395374522.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicides_19_w_var_f['homic_19']= pd.to_numeric(df_homicides_19_w_var_f['homic_19'])

     CVEGEO  homic_19
7     01001        68
8     01002         1
9     01003         3
10    01005        10
11    01006         1
...     ...       ...
1684  32053         2
1685  32054         2
1686  32055         5
1687  32056        95
1688  32057        11

[1651 rows x 2 columns]

In [189]:
#dataframes_homic = [df_homicides_15,
#                    df_homicides_16,
#                    df_homicides_17,
#                    df_homicides_18,
#                    df_homicides_19]
#
#list_of_df = []
#
#df_homicides_15.head(20)
#
#dict_var_homic = {"Defunciones por homicidios": "CVEGEO",
#              "Unnamed: 2":"homic"} 
#
#
#for dataframe in dataframes_homic:
#    
#   dataframe_final = dataframe[dataframe['Unnamed: 1'].notnull()]
#   
#   dataframe+"_w" = dataframe+"_w".rename(columns = dict_var_homic)
#   
#   dataframe+"_w_var" = dataframe+"_w"[["CVEGEO", "homic"]]
#   
#   dataframe+"_w_var"= dataframe+"_w_var"[dataframe+"_w_var"['CVEGEO'].notnull()]
#   
#   dataframe+"_w_var_f" = pdataframe+"_w_var")[(dataframe+"_w_var")['CVEGEO'].str.len()>=3)]
#   
#   dataframe+"_w_var_f"['homic']= dataframe+"_w_var_f")['homic'].str.replace(',',"")
#   
#   dataframe+"_w_var_f"['CVEGEO']= dataframe+"_w_var_f")['CVEGEO'].str.replace(' ',"")
#   
#   dataframe+"_w_var_f"['homic']= pd.to_numeric(dataframe +"_w_var_f"['homic'])
#   
#   list_of_df.append(dataframe+"_w_var_f")
#

SyntaxError: cannot assign to operator (4029682343.py, line 19)

In [112]:
df_homicides_15.index

RangeIndex(start=0, stop=1600, step=1)

In [91]:
len(df_homicides_15)

1600

In [33]:
df_homicies_15_19 = [(df_homicies_15_22.year <=2019)]

In [50]:

df_homicies_15_19 = df_homicies_15_22[df_homicies_15_22['Tipo de delito'].str.contains("Homicidio|Narcomenudeo|Robo|Secuestro|Trata de personas|Extorsion")]


df_homicies_15_19_homic = df_homicies_15_19[~df_homicies_15_19['Subtipo de delito'].str.contains("Homicidio culposo")]

df_homicies_15_19_homic["delitos"] = df_homicies_15_19_homic[["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]].sum(axis=1)


df_homicies_15_19_homic.drop(["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre", "year", "Clave_Ent"], axis = 1, inplace = True)

df_homicies_15_19_homic_group = df_homicies_15_19_homic.groupby(["Cve_Municipio", "Tipo de delito"]).mean().reset_index()

/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/1518373663.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicies_15_19_homic["delitos"] = df_homicies_15_19_homic[["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]].sum(axis=1)
/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/1518373663.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicies_15_19_homic.drop(["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre", "year", "Clave_Ent"], axis = 1, inplace = True)

In [71]:

df_homicies_15_19_prueba = df_homicies_15_22[df_homicies_15_22['Subtipo de delito'].str.contains("Homicidio doloso")]

df_homicies_15_19_prueba["delitos"] = df_homicies_15_19_prueba[["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]].sum(axis=1)


df_homicies_15 = df_homicies_15_19_prueba[(df_homicies_15_19_prueba.year == 2015)] 

df_homicies_15["delitos"].sum()

/var/folders/q3/ztffc4r10tv5h4pftjr2qw0r0000gn/T/ipykernel_89439/3667896940.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_homicies_15_19_prueba["delitos"] = df_homicies_15_19_prueba[["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]].sum(axis=1)

16120

In [53]:
df_homicies_15_19_wide = df_homicies_15_19_homic_group.pivot(index='Cve_Municipio', columns = "Tipo de delito", values='delitos').reset_index()

In [60]:
df_homicies_15_19_wide['Cve_Municipio'] = df_homicies_15_19_wide['Cve_Municipio'].astype(str).str.zfill(5)

df_homicies_15_19_wide["Homicidio"].sum()

5981.4125

In [ ]:
dict_variables = {"Cve_Municipio": "CVEGEO",
              "Extorsion":"EXT",
              "Homicidio":"HOMIC", 
              "Narcomenudeo":"DRUG_DEAL",
              "Robo": "THEFT",
              "Secuestro": "KIDNA"} 


df_homicies_15_19_wide = df_homicies_15_19_wide.rename(columns = )

In [237]:
dataframes_homic = [df_cvegeo,
                    df_homicides_15_w_var_f,
                    df_homicides_16_w_var_f,
                    df_homicides_17_w_var_f,
                    df_homicides_18_w_var_f,
                    df_homicides_19_w_var_f]

df_homics = reduce(lambda  left,right: pd.merge(left,right,on=['CVEGEO'],
                                            how = 'outer'), dataframes_homic).fillna(0)


df_homics["homic_15_19"] = df_homics[["homic_15", "homic_16", "homic_17", "homic_18", "homic_19"]].sum(axis=1)/5

In [238]:
df_homics["homic_19"].sum()

35596.0

In [240]:
df_homics_15_19 = df_homics[["CVEGEO", "homic_15_19"]]

In [241]:
df_homics_15_19.to_excel('data/df_homics_15_19.xlsx', index = False)
df_homics_15_19.to_parquet('data/df_homics_15_19.parquet')