In [27]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
%cd '/content/drive/MyDrive/Data_Projects/ML-Project/pmx_gasoline_theft_prediction'

/content/drive/MyDrive/Data_Projects/ML-Project/pmx_gasoline_theft_prediction

In [29]:
pwd

'/content/drive/MyDrive/Data_Projects/ML-Project/pmx_gasoline_theft_prediction'

In [30]:
df_thefts_PMX_complete_ori = pd.read_excel("data/df_PMX_thefts_15_19_pp_final.xlsx", converters={'CVEGEO' : str})

In [31]:
df_thefts_PMX_complete_ori.columns

Index(['CVEGEO', 'NOM_ENT', 'NOM_MUN', 'type_inegi', 'soil_inegi', 'pp_inegi',
       'cap_5ypp', 'inv_5ypp', 'long_5ypp', 'pp_5ypp', 'pp_instal',
       'pp_integ_sistran_pp', 'long_integ_sistran_pp', 'type_integ_sistran_pp',
       'pp_mix_pp', 'long_mix_pp', 'type_tube_mix_pp', 'type_gas_mix_pp',
       'pp_n_int_sist', 'long_n_int_sist', 'type_n_int_sist', 'cap_n_int_sist',
       'inv_n_int_sist', 'pp_oil', 'long_oil', 'type_oil', 'cap_oil',
       'cap_oil_2', 'cap_pp_tran_sys', 'inv_pp_tran_sys', 'long_pp_tran_sys',
       'pp_pp_tran_sys', 'cap_proj_5y', 'pp_proj_5y', 'inv_proj_gas_p',
       'pp_proj_gas_p', 'long_proj_gas_p', 'cap_SISTRANGAS_pipeline',
       'inv_SISTRANGAS_pipeline', 'long_SISTRANGAS_pipeline',
       'pp_SISTRANGAS_pipeline', 'pp_st_term', 'type_st_term', 'cap_st_term',
       'cap_st_term_1', 'sum_intersects', 'Num_thefts', 'COUNT', 'price',
       'price_15_19', 'homic_15_19', 'confront', 'POB_TOT', 'SBASC',
       'POB_6_16_NEB', 'POB_16_EBI', 'NO_SS', 'OVPT', 'NO_SANIT', 'OVSAE',
       'NO_DREN', 'NO_ELECT', 'NO_LAVA', 'No_REFRI', 'IRS', 'homic_rate',
       'pipeline'],
      dtype='object')

In [32]:
variables_to_maintain = ['CVEGEO','sum_intersects', 'Num_thefts', 
                         'COUNT','price_15_19', 'POB_TOT', 'confront', 
                         'IRS', 'homic_rate', 'pipeline', 'SBASC', 
                         'POB_6_16_NEB', 'POB_16_EBI', 'NO_SS', 
                         'OVPT', 'NO_SANIT', 'OVSAE', 'NO_DREN', 
                         'NO_ELECT', 'NO_LAVA', 'No_REFRI'
                         ]

In [33]:
df_thefts_PMX = df_thefts_PMX_complete_ori[variables_to_maintain].rename( columns = {'CVEGEO': 'Mun_code',
                                 'sum_intersects' : 'Pipe_intersec', 
                                 'Num_thefts' : 'Thefts_cases', 
                                 'COUNT' : 'Gas_stations',
                                 'price_15_19' : 'Gas_price', 
                                 'POB_TOT' : 'Population', 
                                 'confront' : 'Confront_events',
                                 'IRS' : 'IRS', 
                                 'homic_rate' : 'Homic_rate', 
                                 'pipeline' : 'Susceptible'})

In [34]:
df_thefts_PMX

,Mun_code,Pipe_intersec,Thefts_cases,Gas_stations,Gas_price,Population,Confront_events,IRS,Homic_rate,Susceptible,...,POB_6_16_NEB,POB_16_EBI,NO_SS,OVPT,NO_SANIT,OVSAE,NO_DREN,NO_ELECT,NO_LAVA,No_REFRI
0,01001,22,8.0,111,17.775494,905682,0,-1.345557,5.410287,1,...,3.914694,23.463147,15.751315,0.558267,0.434323,0.539714,0.405613,0.185406,13.135097,4.976815
1,01002,3,NaN,5,17.927145,48472,0,-0.873237,4.126093,0,...,3.934379,38.616333,8.822640,1.593414,4.890338,1.171607,4.973795,0.997579,21.077503,13.729702
2,01004,5,NaN,2,17.845526,16141,0,-1.039090,6.195403,0,...,3.753315,30.835403,8.218243,1.335823,2.530502,0.671326,1.624260,0.697120,21.213440,11.657586
3,01005,5,NaN,29,17.840320,124185,0,-1.182509,4.831501,0,...,4.803344,30.812283,16.580066,1.043769,0.840948,0.911164,0.748003,0.439924,14.073904,6.988933
4,01006,8,1.0,7,17.831395,46941,0,-1.185920,4.260668,1,...,3.307964,28.773867,13.255280,0.696114,1.460176,1.117155,1.157367,0.667693,15.313592,8.822952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,32050,3,NaN,0,NaN,9987,0,-1.000816,50.065085,0,...,4.165169,36.423129,11.567853,0.786746,3.046895,2.969846,2.997159,0.474186,14.449122,10.916527
835,32051,0,0.0,5,18.053200,35000,0,-0.668609,31.428571,1,...,4.606946,47.723023,13.052967,2.531589,8.423299,0.978858,9.255142,1.069363,21.042373,14.499824
836,32052,4,NaN,0,NaN,19056,0,-0.943484,0.000000,0,...,3.019944,32.398168,17.443852,1.521418,4.548395,2.997877,6.015325,1.112863,24.032564,14.869227
837,32056,3,NaN,20,17.613123,147528,0,-1.402201,59.649694,0,...,2.739716,21.493228,15.214505,0.334322,0.914969,1.443085,0.727765,0.171016,11.393664,5.131517
838,32057,8,NaN,2,16.972250,19828,0,-0.779980,65.563849,0,...,3.721666,37.918207,10.888392,1.272758,5.963139,3.130103,5.094629,0.906759,22.900525,20.096191

In [36]:
df_thefts_PMX['Gas_stations'] = round(df_thefts_PMX['Gas_stations'] / df_thefts_PMX['Population'] * 100000, 2)
df_thefts_PMX['Gas_price'] = round(df_thefts_PMX['Gas_price'],2)
df_thefts_PMX['Homic_rate'] = round(df_thefts_PMX['Homic_rate'],2)
df_thefts_PMX['IRS'] = round(df_thefts_PMX['IRS'],4)
df_thefts_PMX['Thefts_cases'] = df_thefts_PMX['Thefts_cases'].fillna(0)
df_thefts_PMX_cleaned = df_thefts_PMX.drop(['Population', 'Thefts_cases'], axis = 1, inplace = False)
df_thefts_PMX_cleaned

,Mun_code,Pipe_intersec,Gas_stations,Gas_price,Confront_events,IRS,Homic_rate,Susceptible,SBASC,POB_6_16_NEB,POB_16_EBI,NO_SS,OVPT,NO_SANIT,OVSAE,NO_DREN,NO_ELECT,NO_LAVA,No_REFRI
0,01001,22,1.35,17.78,0,-1.3456,5.41,1,1.887423,3.914694,23.463147,15.751315,0.558267,0.434323,0.539714,0.405613,0.185406,13.135097,4.976815
1,01002,3,21.29,17.93,0,-0.8732,4.13,0,4.053829,3.934379,38.616333,8.822640,1.593414,4.890338,1.171607,4.973795,0.997579,21.077503,13.729702
2,01004,5,76.76,17.85,0,-1.0391,6.20,0,3.835153,3.753315,30.835403,8.218243,1.335823,2.530502,0.671326,1.624260,0.697120,21.213440,11.657586
3,01005,5,18.80,17.84,0,-1.1825,4.83,0,2.887218,4.803344,30.812283,16.580066,1.043769,0.840948,0.911164,0.748003,0.439924,14.073904,6.988933
4,01006,8,31.76,17.83,0,-1.1859,4.26,1,3.120712,3.307964,28.773867,13.255280,0.696114,1.460176,1.117155,1.157367,0.667693,15.313592,8.822952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
834,32050,3,0.00,NaN,0,-1.0008,50.07,0,4.461622,4.165169,36.423129,11.567853,0.786746,3.046895,2.969846,2.997159,0.474186,14.449122,10.916527
835,32051,0,40.83,18.05,0,-0.6686,31.43,1,5.448608,4.606946,47.723023,13.052967,2.531589,8.423299,0.978858,9.255142,1.069363,21.042373,14.499824
836,32052,4,0.00,NaN,0,-0.9435,0.00,0,3.518796,3.019944,32.398168,17.443852,1.521418,4.548395,2.997877,6.015325,1.112863,24.032564,14.869227
837,32056,3,9.19,17.61,0,-1.4022,59.65,0,1.319611,2.739716,21.493228,15.214505,0.334322,0.914969,1.443085,0.727765,0.171016,11.393664,5.131517
838,32057,8,50.89,16.97,0,-0.7800,65.56,0,5.412260,3.721666,37.918207,10.888392,1.272758,5.963139,3.130103,5.094629,0.906759,22.900525,20.096191

In [37]:
df_thefts_PMX_cleaned.head()

,Mun_code,Pipe_intersec,Gas_stations,Gas_price,Confront_events,IRS,Homic_rate,Susceptible,SBASC,POB_6_16_NEB,POB_16_EBI,NO_SS,OVPT,NO_SANIT,OVSAE,NO_DREN,NO_ELECT,NO_LAVA,No_REFRI
0,01001,22,1.35,17.78,0,-1.3456,5.41,1,1.887423,3.914694,23.463147,15.751315,0.558267,0.434323,0.539714,0.405613,0.185406,13.135097,4.976815
1,01002,3,21.29,17.93,0,-0.8732,4.13,0,4.053829,3.934379,38.616333,8.822640,1.593414,4.890338,1.171607,4.973795,0.997579,21.077503,13.729702
2,01004,5,76.76,17.85,0,-1.0391,6.20,0,3.835153,3.753315,30.835403,8.218243,1.335823,2.530502,0.671326,1.624260,0.697120,21.213440,11.657586
3,01005,5,18.80,17.84,0,-1.1825,4.83,0,2.887218,4.803344,30.812283,16.580066,1.043769,0.840948,0.911164,0.748003,0.439924,14.073904,6.988933
4,01006,8,31.76,17.83,0,-1.1859,4.26,1,3.120712,3.307964,28.773867,13.255280,0.696114,1.460176,1.117155,1.157367,0.667693,15.313592,8.822952

In [38]:
df_thefts_PMX_cleaned.to_excel('data/df_thefts_PMX_final_v2.xlsx', index = False)